.ng-virtual-repeat-container { 
    white-space: nowrap; 
    border: 1px solid blue; 
} 
 
table > tbody > tr > td { 
    height: 40px; 
    width: 70px; 
    min-width: 70px; 
    max-width: 70px; 
} 
 
.table { 
    width: unset; 
    border: 0; 
    margin: 0; 
    padding: 0; 
} 
 
.main { 
  margin: auto 5% ;    
}